controllers/controllers/testproxcontroller.o
.deps/
objects/
outputFiles/
learningFiles/
graphics/
fitnessfunctions/
renders/
sensors/
collisions/
arenas/
actuators/
experiments/experiments/iri2exp.cpp
experiments/experiments/iri2exp.h
experiments/experiments/iri2exp.o
experiments/experiments/testcontactexp.cpp
experiments/experiments/testcontactexp.h
experiments/experiments/testcontactexp.o
experiments/experiments/testencoderexp.cpp
experiments/experiments/testencoderexp.h
experiments/experiments/testencoderexp.o
experiments/experiments/testevoexp.cpp
experiments/experiments/testevoexp.h
experiments/experiments/testevoexp.o
experiments/experiments/testgroundexp.cpp
experiments/experiments/testgroundexp.h
experiments/experiments/testgroundexp.o
experiments/experiments/testlightexp.cpp
experiments/experiments/testlightexp.h
experiments/experiments/testlightexp.o
experiments/experiments/testneuronexp.cpp
experiments/experiments/testneuronexp.h
experiments/experiments/testneuronexp.o
experiments/experiments/testproxexp.cpp
experiments/experiments/testproxexp.h
experiments/experiments/testproxexp.o
experiments/experiments/testredlightexp.cpp
experiments/experiments/testredlightexp.h
experiments/experiments/testredlightexp.o
experiments/experiments/testswitchlightexp.cpp
experiments/experiments/testswitchlightexp.h
experiments/experiments/testswitchlightexp.o
experiments/experiments/testwheelsexp.cpp
experiments/experiments/testwheelsexp.h
experiments/experiments/testwheelsexp.o
depcomp
epuck.cpp
epuck.h
epuck.o
experiment.cpp
experiment.h
experiment.o
experiments/Makefile
experiments/experiments/Makefile
experiments/experiments/Makefile.am
experiments/experiments/Makefile.in
experiments/experiments/braitenbergvehicle2experiment.cpp
experiments/experiments/braitenbergvehicle2experiment.h
experiments/experiments/braitenbergvehicle2experiment.o
experiments/experiments/iri1exp.cpp
experiments/experiments/iri1exp.h
experiments/experiments/iri1exp.o
experiments/experiments/subsumptiongarbageexp.cpp
experiments/experiments/subsumptiongarbageexp.h
experiments/experiments/subsumptiongarbageexp.o
experiments/experiments/subsumptionlightexp.cpp
experiments/experiments/subsumptionlightexp.h
experiments/experiments/subsumptionlightexp.o
experiments/experiments/testbatteryexp.cpp
experiments/experiments/testbatteryexp.h
experiments/experiments/testbatteryexp.o
experiments/experiments/testbluelightexp.cpp
experiments/experiments/testbluelightexp.h
experiments/experiments/testbluelightexp.o
experiments/experiments/testcomexp.cpp
experiments/experiments/testcomexp.h
experiments/experiments/testcomexp.o
experiments/experiments/testcompassexp.cpp
experiments/experiments/testcompassexp.h
experiments/experiments/testcompassexp.o
experiments/iri3exp.o
experiments/libexperiments.a
fitnessfunction.cpp
fitnessfunction.h
fitnessfunction.o
general.cpp
general.h
general.o
controllers/controllers/testencodercontroller.cpp
controllers/controllers/testencodercontroller.h
controllers/controllers/testencodercontroller.o
controllers/controllers/testgroundcontroller.cpp
controllers/controllers/testgroundcontroller.h
controllers/controllers/testgroundcontroller.o
controllers/controllers/testlightcontroller.cpp
controllers/controllers/testlightcontroller.h
controllers/controllers/testlightcontroller.o
controllers/controllers/testproxcontroller.cpp
controllers/controllers/testproxcontroller.h
controllers/controllers/testredlightcontroller.cpp
controllers/controllers/testredlightcontroller.h
controllers/controllers/testredlightcontroller.o
controllers/controllers/testswitchlightcontroller.cpp
controllers/controllers/testswitchlightcontroller.h
controllers/controllers/testswitchlightcontroller.o
controllers/controllers/testwheelscontroller.cpp
controllers/controllers/testwheelscontroller.h
controllers/controllers/testwheelscontroller.o
controllers/iri3controller.o
controllers/libcontrollers.a
experiments/experiments/iri3exp.o
experiments/experiments/libexperiments.a
experiments/experiments/motorSchemas1exp.cpp
experiments/experiments/motorSchemas2exp.cpp
geometry.cpp
geometry.h
geometry.o
individual.cpp
individual.h
individual.o
install-sh
irsim
main.cpp
main.o
misc.h
missing
paramFiles/paramFiles/braitenbergParam.txt
paramFiles/paramFiles/iri1Param.txt
paramFiles/paramFiles/iri2Param.txt
paramFiles/paramFiles/iri2Param.txt~
paramFiles/paramFiles/iri3Param.txt
paramFiles/paramFiles/iriNeuronTemplate.txt
paramFiles/paramFiles/motorSchemas1Param.txt
paramFiles/paramFiles/motorSchemas2Param.txt
puck.cpp
puck.o
random.cpp
random.h
random.o
render.cpp
render.h
render.o
sensor.cpp
sensor.h
sensor.o
simmath.cpp
simmath.h
simmath.o
simobject.cpp
simobject.h
simobject.o
simulator.cpp
simulator.h
simulator.o
populations/
controllers/controllers/testbatterycontroller.o
paramFiles/paramFiles/trabajo1Param.txt~
population.cpp
population.h
population.o
puck.h
controllers/controllers/subsumptionlightcontroller.h
controllers/controllers/subsumptionlightcontroller.o
controllers/controllers/testbatterycontroller.cpp
controllers/controllers/testbatterycontroller.h
controllers/controllers/testbluelightcontroller.cpp
controllers/controllers/testbluelightcontroller.h
controllers/controllers/testbluelightcontroller.o
controllers/controllers/testcomcontroller.cpp
controllers/controllers/testcomcontroller.h
controllers/controllers/testcomcontroller.o
controllers/controllers/testcompasscontroller.cpp
controllers/controllers/testcompasscontroller.h
controllers/controllers/testcompasscontroller.o
controllers/controllers/testcontactcontroller.cpp
controllers/controllers/testcontactcontroller.h
controllers/controllers/testcontactcontroller.o
controllers/controllers/iri3controller.o
controllers/controllers/layercontroller.cpp
controllers/controllers/layercontroller.h
controllers/controllers/layercontroller.o
controllers/controllers/libcontrollers.a
controllers/controllers/motorSchemas1controller.cpp
controllers/controllers/motorSchemas1controller.h
controllers/controllers/braitenbergvehicle2controller.o
controllers/controllers/iri1controller.cpp
controllers/controllers/iri1controller.h
controllers/controllers/iri1controller.h~
controllers/controllers/iri1controller.o
controllers/controllers/iri2controller.cpp
controllers/controllers/iri2controller.h
controllers/controllers/iri2controller.o
controllers/controllers/iri3controller.cpp.rej
controllers/controllers/Makefile.am
controllers/controllers/Makefile.in
controllers/controllers/braitenbergvehicle2controller.cpp
controllers/controllers/braitenbergvehicle2controller.cpp~
controllers/controllers/braitenbergvehicle2controller.h
controllers/Makefile
controllers/controllers/Makefile
controllers/controllers/motorSchemas2controller.cpp
controllers/controllers/motorSchemas2controller.h
controllers/controllers/nncontroller.cpp
controllers/controllers/nncontroller.h
controllers/controllers/nncontroller.o
controllers/controllers/nndistributedcontroller.cpp
controllers/controllers/nndistributedcontroller.h
controllers/controllers/nndistributedcontroller.o
controllers/controllers/perceptroncontroller.cpp
controllers/controllers/perceptroncontroller.h
controllers/controllers/perceptroncontroller.o
controllers/controllers/subsumptiongarbagecontroller.cpp
controllers/controllers/subsumptiongarbagecontroller.h
controllers/controllers/subsumptiongarbagecontroller.o
controllers/controllers/subsumptionlightcontroller.cpp
compile
config.h
config.h.in
config.h.in~
config.status
configure
configure.ac
controller.cpp
controller.o
COPYING
INSTALL
Makefile
Makefile.am
Makefile.in
README
aclocal.m4
actuator.cpp
actuator.h
actuator.o
arena.cpp
arena.h
arena.o
arguments.cpp
arguments.h
arguments.o
bootstrap.sh
controller.h
stamp-h1
weightsFile
